@using Dominio
@{
    ViewBag.Title = "CanalesEnPaquete";
}

<h2>CanalesEnPaquete</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del canal</th>
            <th scope="col">Nombre del paquete</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (Paquete item in ViewBag.paquetes)
        {

            <tr>
                <th scope="row"></th>
                <td>@item.Canales</td>
                <td>@item.Nombre </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {

    <script>
      
        //BUSCAR CANAL EN PAQUETE
        let btnBuscar = document.getElementById("btnBuscar");
        let nombreCanal = document.getElementById("nombreCanal");

        btnBuscar.addEventListener('click', () => {
            let url = "/canal/CanalesEnPaquete?nombreCanal=" + nombreCanal.value;
            location = url;
        })


    </script>

