@using Dominio
@{
    ViewBag.Title = "Carrito";
}
<h2>Compra tu paquete</h2>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del paquete</th>
                <th scope="col">Promocion</th>
                <th scope="col">Precio Base</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>

                <td>@ViewBag.Nombre</td>


            </tr>

        </tbody>
    </table>


</div>
