@using Dominio
@model Dominio.Paquete
@{
    ViewBag.Title = "PaqueteDetalle";
}
<h2>Compra tu paquete</h2>

<section>
    <button href="/compra/DetalleCompra?nombrePaquete=@Model.Nombre">Comprar</button>
</section>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del paquete</th>
                <th scope="col">Promocion</th>
                <th scope="col">Precio Base</th>

            </tr>
        </thead>
        <tbody>
            
          
            <tr>
                @if (Model != null)
                {
                    <th scope="row"></th>
                    <td>@Model.Nombre</td>
                    <td>@Model.Promocion</td>
                    <td>@Model.PrecioBase</td>
                    <td><div id="divBotones"><a href="/Compra/MisCompras?NombrePaquete=@Model.Nombre" class="btn btn-info" role="button" id="botonCompra">Finalizar Compra</a></div></td>

                }

            </tr>

        </tbody>
    </table>


</div>
