@{
    ViewBag.Title = "Listado";
}

<h2>Listado</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Paquetes Comprados</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Dominio.User item in ViewBag.usuarios)
        {
            <tr>
                <th scope="row"></th>
                <td>@item.Cedula</td>
                <td>@item.Nombre </td>
                <td>@item.Apellido</td>
                <td>@item.GetCompras()</td>
            </tr>
        }
    </tbody>
</table>