
@{
    ViewBag.Title = "Index";
}

<div id="loginContent" class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/img/icon.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form>
            <input type="text" id="user" class="fadeIn second" name="login" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input id="logintBtn" type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Register -->
        <div id="formFooter">
            <a class="underlineHover" href="/User/Registrar">Register</a>
        </div>
        <div>
            <a class="underlineHover" href="/Canal/Index">Canales Disponibles?</a>
        </div>

    </div>
</div>

@section scripts {
    <script>
       
        var loggedIn = '@Session["LoggedIn"]' == 'True';
        if (!loggedIn) {
            $("#navBar").hide();
        }
        else {
            $("#navBar").show();
            location="/Canal/Index"
        }


        $("#logintBtn").click(function () {
            let login = $("#user").val();
            let psw = $("#password").val();
            let url = `/Login/Ingresar?user=${login}&pass=${psw}`;
            location = url;
        });
    </script>
}