
@{
    ViewBag.Title = "Index";
}

<div id="loginContent" class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/img/icon.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form id="loginForm" action="~/Login/Ingresar">
            <input type="text" id="user" class="fadeIn second" name="username" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
            <input id="logintBtn" type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Register -->
        <div id="formFooter">
            <a class="underlineHover" href="/User/Registrar">Register</a>
        </div>
        <div>
            <a class="underlineHover" href="/Paquete/Index">Paquetes Disponibles?</a>
        </div>

    </div>
</div>

@section scripts {
    <script>

        
        var loggedIn = '@Session["LoggedIn"]' == 'True';
        if (!loggedIn) {
            document.getElementById('navBar').style.display = "none";
        }
        else {
            document.getElementById('navBar').style.display = "inline";
            location="/Paquete/Index"
        }
    </script>
}