
@{
    ViewBag.Title = "Index";
}

<div id="loginContent" class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/img/icon.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input id="logintBtn" type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>

@section scripts {
    <script>
        $("#navBar").hide();
        $("#logintBtn").click(function () {
            alert("hay que implementar login!");
        });
    </script>
}