
@{
    ViewBag.Title = "LogOut";
}

<h2><b>Logged Out of the system</b></h2>

<h3><a href="/paquete/index">Volver al inicio</a></h3>

@section scripts {
        <script>
            document.getElementById('navBar').style.display = 'none';
        </script>
}

